<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EventPlanner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EECD28BE1F748FE6009CDD8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EECD28D51F748FE6009CDD8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EECD28E01F748FE6009CDD8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
